* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body,
html {
    background-color: #f5f9ff;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    flex: 1; 
}


/* Seminar Container */
.seminarContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 8px;
}

.seminarContainer h2 {
    color: #1a73e8;
    margin-bottom: 10px;
}

.seminarContainer p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

/* Team Section */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.team-member {
    margin: 20px;
    text-align: center;
    flex: 1 1 150px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h3 {
    color: #1a73e8;
    margin-bottom: 5px;
}

.team-member p {
    color: #666;
}

/* Date Section */
.date {
    text-align: center;
    margin-top: 20px;
}

.date p {
    font-weight: bold;
    color: #333;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .team {
        flex-direction: column;
        align-items: center;
    }

    .seminarContainer {
        width: 90%;
        padding: 15px;
    }
}

@media (min-width: 769px) {
    .seminarContainer {
        width: 80%;
        margin: 30px auto;
        padding: 25px;
    }
}
